[Unit]
Description=Skywire address-resolver service
Wants=network-online.target redis.service

[Service]
Environment="GODEBUG=madvdontneed=1"
Type=simple
ExecStart=/usr/bin/skywire svc ar --keyfile /etc/skywire-ar.key
Restart=always
RestartSec=20
TimeoutSec=30

[Install]
WantedBy=multi-user.target
