[Unit]
Description=Skywire route-finder service
Wants=network-online.target postgresql.service

[Service]
Environment="GODEBUG=madvdontneed=1"
Type=simple
ExecStart=/usr/bin/skywire svc rf --keyfile /etc/skywire-rf.key
Restart=always
RestartSec=20
TimeoutSec=30

[Install]
WantedBy=multi-user.target
