[Unit]
Description=Skywire dmsg server
Wants=network-online.target

[Service]
Environment="GODEBUG=madvdontneed=1"
Type=simple
ExecStartPre=/bin/bash -c '[[ ! -f /etc/skywire-dmsg.json ]] && skywire dmsg server config gen -o /etc/skywire-dmsg.json || true'
ExecStart=/usr/bin/skywire dmsg server start /etc/skywire-dmsg.json
Restart=always
RestartSec=20
TimeoutSec=30

[Install]
WantedBy=multi-user.target
