pkgbase = skywire
	pkgdesc = Skywire node implementation + deployment services, service discovery, & dmsg utilities. Skycoin.com
	pkgver = 1.3.26
	pkgrel = 1
	url = https://github.com/skycoin/skywire
	install = skywire.install
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv8
	arch = armv7
	arch = armv7l
	arch = armv7h
	arch = armv6h
	arch = armhf
	arch = armel
	arch = arm
	arch = riscv64
	license = license-free
	makedepends = git
	makedepends = go
	makedepends = musl
	makedepends = kernel-headers-musl
	source = skywire-v1.3.26.tar.gz::https://github.com/skycoin/skywire/archive/refs/tags/v1.3.26.tar.gz
	source = skywire-bin::git+https://aur.archlinux.org/skywire-bin
	sha256sums = 07338ae882282a7780c727b40d85fc69556795bf818f16a56d3f3bcc489d9dca
	sha256sums = SKIP

pkgname = skywire
