pkgbase = skywire
	pkgdesc = Skywire node implementation + deployment services, service discovery, & dmsg utilities. Skycoin.com
	pkgver = 1.3.27
	pkgrel = 1
	url = https://github.com/skycoin/skywire
	install = skywire.install
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv8
	arch = armv7
	arch = armv7l
	arch = armv7h
	arch = armv6h
	arch = armhf
	arch = armel
	arch = arm
	arch = riscv64
	license = license-free
	makedepends = git
	makedepends = go
	makedepends = musl
	makedepends = kernel-headers-musl
	source = skywire-v1.3.27.tar.gz::https://github.com/skycoin/skywire/archive/refs/tags/v1.3.27.tar.gz
	source = skywire-bin::git+https://aur.archlinux.org/skywire-bin
	sha256sums = 77516e24ccadc9385ce2c34b3a391a6615d8648ba63a792c8e0aa56f187cdd0f
	sha256sums = SKIP

pkgname = skywire
